.gameItemContainer{
    display: flex;
    border: 1px solid blue;
    height: 7rem;
}
.team1{
    width: 25%;
    border: 1px solid red;
}
.summary{
    width: 50%;
    border: 1px solid red;
}
.summary ul li{
    list-style: none;
}
.team2{
    width: 25%;
    border: 1px solid red;
}